@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
  margin: 0;
  padding: 0;
}

.hro-sec{
  /* width: 100%; */
  height: max-content;
  padding: 50px 5px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.333);
  color: white;
  overflow: hidden;
  min-height: 70vh;
}

.bg{
  width: 100%;
  /* height: 100%; */
  
}

.background{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.input:focus-visible{
  outline: none;
}


/* loader css starts */
.loader {
  width: 80px;
  height: 80px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
/* loader css ends */